---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import adenLogo from '~/assets/images/aden-logo.png';
---

<div class="flex items-center">
  <Image
    src={adenLogo}
    alt="Aden Enterprises Logo"
    class="h-8 w-auto md:h-10"
    loading="eager"
  />
  <span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-xl md:text-lg font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    {SITE?.name}
  </span>
</div>
